<%= simple_form_for(@job, html: { class: 'cvd-FormBlock' }) do |f| %>
  <%= f.error_notification %>

  <%= f.input :iev_action, as: :hidden %>
  <%= f.input :format, collection: Job.formats.map{ |format, _index| [t(format), format] } %>

  <div class="form-group">
    <ul class="nav nav-pills">
      <li class="active"><a data-toggle="tab" href="#file">File</a></li>
      <li><a data-toggle="tab" href="#url">URL</a></li>
    </ul>

    <div class="tab-content">
      <div id="file" class="tab-pane fade in active">
        <%= f.input :file, as: :file %>
      </div>
      <div id="url" class="tab-pane fade">
        <%= f.input :url %>
      </div>
    </div>
  </div>

  <% if @job.convert_job? %>
    <div class="form-group">
      <%= f.input :format_convert, collection: Job.format_converts.map{ |format, _index| [t(format), format] } %>
      <%= f.input :prefix %>
      <div class="hide" data-convert-to="neptune">
        <%= f.input :time_zone, as: :grouped_select, group_method: :last,
                    collection: grouped_time_zone, selected: Time.zone.name %>
      </div>
      <div class="hide" data-convert-to="gtfs">
        <%= f.input :max_distance_for_commercial %>
        <%= f.input :ignore_last_word %>
        <%= f.input :ignore_end_chars %>
        <%= f.input :max_distance_for_connection_link %>
      </div>
    </div>
  <% end %>

  <%= f.button :submit, class: 'btn btn-primary' %>
<% end %>
