<%= simple_form_for(@job, html: { class: 'cvd-FormBlock' }) do |f| %>
  <%= f.error_notification %>

  <%= f.input :iev_action, as: :hidden %>
  <%= f.input :format, as: :radio_buttons, collection: Job.formats.map{ |format, _index| [t(format), format] } %>

  <div class="form-group">
    <ul class="nav nav-pills">
      <li class="active"><a data-toggle="tab" href="#file"><%= t('job.tab.file') %></a></li>
      <li><a data-toggle="tab" href="#url"><%= t('job.tab.url') %></a></li>
    </ul>

    <div class="tab-content">
      <div id="file" class="tab-pane fade in active">
        <%= f.input :file, as: :file %>
      </div>
      <div id="url" class="tab-pane fade">
        <%= f.input :url %>
      </div>
    </div>
  </div>

  <% if @job.convert_job? %>
    <div class="form-group">
      <%= f.input :format_convert, as: :radio_buttons, collection: Job.format_converts.map{ |format, _index| [t(format), format] } %>
      <%= button_tag type: 'button', id: 'cvd-FormBlock-moreOptions-button', class: 'btn' do %>
        <span class="glyphicon glyphicon-plus"></span>
        Afficher plus d'options
      <% end %>
      <div id="cvd-FormBlock-moreOptions">
        <div data-convert-both="gtfs">
          <%= f.input :object_id_prefix %>
        </div>
        <div data-convert-input="gtfs">
          <%= f.input :max_distance_for_commercial, input_html: { min: 0 } %>
          <%= f.input :ignore_last_word %>
          <%= f.input :ignore_end_chars, input_html: { min: 0 } %>
          <%= f.input :max_distance_for_connection_link, input_html: { min: 0 } %>
        </div>
        <div data-convert-output="gtfs">
          <%= f.input :time_zone, as: :grouped_select, group_method: :last,
                      collection: grouped_time_zone, selected: Time.zone.name %>
        </div>
      </div>
    </div>
  <% end %>

  <%# TODO: Valider / Convertir %>
  <%= f.button :submit, (@job.convert_job? ? t('convert') : t('validate') ), class: 'btn btn-primary' %>
<% end %>

<% if @job.errors.messages.any? && @job.errors.messages[:url].present? %>
  <script>
    $(document).on('page:change', function() {
      $('a[href="#url"]').click();
    });
  </script>
<% end %>
