<p>
  <%= t("report.total_results_#{@default_view}") %>
  <%= @total_elements %>
</p>

<div class="panel-group cvd-AccordionBlock" id="accordion" role="tablist" aria-multiselectable="true">
  <% @elements_to_paginate.each_with_index do |first_element, index| %>
    <% next unless first_element[:name].present? %>
    <% count_error = @validation_report.count_errors[@default_view.to_sym][first_element[:name]][:error] %>
    <% count_warning = @validation_report.count_errors[@default_view.to_sym][first_element[:name]][:warning] %>
    <% error_or_warning = (count_error + count_warning) > 0 %>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="heading-<%= index %>">
        <h4 class="panel-title">
          <% if error_or_warning %>
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-<%= index %>"
               aria-expanded="false" aria-controls="collapse-<%= index %>">
          <% end %>
          <% icon = get_icon(first_element[:status], count_error) %>
          <% fs_status = first_element[:status].present? ? first_element[:status] : 'none' %>
          <span class="cvd-ColorBlock-<%= icon %> glyphicon glyphicon-<%= icon %>"
                data-toggle="tooltip" data-placement="top"
                title="<%= t("report_results.icons.title.#{fs_status.downcase}_txt", default: fs_status.humanize) %>"></span>
          <%= first_element[:name] %>
          <span class="pull-right badge<%= ' cvd-BgColorBlock-remove' if count_error > 0 %>">
            <%= t(:count_errors, count: count_error) %>
          </span>
          <span class="pull-right badge<%= '  cvd-BgColorBlock-alert' if count_warning > 0 %>" style="margin-right:4px;">
            <%= t(:count_warnings, count: count_warning) %>
          </span>
          <% if error_or_warning %></a><% end %>
        </h4>
      </div>
      <% if error_or_warning %>
        <div id="collapse-<%= index %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-<%= index %>">
          <div class="panel-body cvd-ReportBlock-results">
            <%= render "report_results_#{@default_view}", { name: first_element[:name] } %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

  <%= paginate @elements_to_paginate %>

</div>
