<ul class="list-group cvd-BadgesBlock">
  <li class="list-group-item">
    <% if @default_view == :lines %>
      <span class="badge"><%= @action_report[:lines_ok] %></span>
      <%= t('report.conform_lines') %>
    <% else %>
      <span class="badge"><%= @action_report[:files_ok] %></span>
      <%= t('report.conform_files') %>
    <% end %>
  </li>
  <li class="list-group-item">
    <% if @default_view == :lines %>
      <span class="badge"><%= @action_report[:lines_nok] %></span>
      <%= t('report.nonconforming_lines') %>
    <% else %>
      <span class="badge"><%= @action_report[:files_nok] %></span>
      <%= t('report.nonconforming_files') %>
    <% end %>
  </li>
</ul>
