<% reports = @validation_report.reports.select{ |r| r.filename == name } %>

<% all_reports_2 = [] %>

<% if @tests.present? %>
  <ul>
    <% @tests.each do |test_id| %>
      <% reports2 = reports.select{ |r| r.test_id == test_id } %>
      <% all_reports_2.concat(reports2) %>
      <% if reports2.present? %>
        <li>
          <strong>
            <%= button_tag type: :button, class: 'hide show-js cvd-AccordionBlock-details' do %>
              <span class="glyphicon glyphicon-plus"></span>
            <% end %>
            <%= test_id %>
            <%= link_to "http://www.chouette.mobi/neptune-validation/v22/fr/#{test_id}.html", target: '_blank', rel: 'noreferrer' do %>
              <span class="glyphicon glyphicon-link"></span>
            <% end %>
            <% if @default_view == :files && reports[0] %>
              <% if false %>
                <span class="cvd-ReportBlock-errorInfo">
                  (<%= reports2.first.error_count %> <%= t('error_count', default: 'errors') %>)
                </span>
              <% end %>
            <% end %>
            -
            <%= t("compliance_check_results.details.#{test_id}") %>
          </strong>
          <div class="hide-js">
            <%= render 'report_results_tests', { reports: reports2 } %>
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>
<% end %>

<%= render 'report_results_tests', { reports: (reports - all_reports_2) } %>
