<p><%= t('report.total_results') %> <%= @validation_report.lines.count %></p>

<div class="panel-group cvd-AccordionBlock" id="accordion" role="tablist" aria-multiselectable="true">
  <% @validation_report.lines.each_with_index do |line, index| %>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="heading-<%= index %>">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-<%= index %>" aria-expanded="false" aria-controls="collapse-<%= index %>">
            <%= line %>
          </a>
        </h4>
      </div>
      <div id="collapse-<%= index %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-<%= index %>">
        <div class="panel-body cvd-ReportBlock-results">
          <ul>
            <% @validation_report.reports.select{ |r| r.source_label == line }.each do |report| %>
              <li>
                <% if report.filename %>
                  <strong>
                    <%= report.filename %>
                    - <%= t('report.file.line') %> <%= report.line_number %>
                    - <%= t('report.file.column') %> <%= report.column_number %>
                  </strong>
                  <br>
                <% end %>
                <span class="cvd-ColorBlock-<%= report.status %> glyphicon glyphicon-<%= report.status %>"></span> <%= report.test_id %>
                -
                <%= t("validation_report.details.#{report.test_id}") %>
                <ul>
                  <li>
                    <%= report.error_id %>
                    -
                    <%= t("validation_report.details.detail_#{report.error_id}", report.to_h) %>
                  </li>
                </ul>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
</div>
