<p><%= t('report.total_results') %> <%= @validation_report.lines.count %></p>

<div class="panel-group cvd-AccordionBlock" id="accordion" role="tablist" aria-multiselectable="true">
  <% @elements_to_paginate.each_with_index do |first_element, index| %>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="heading-<%= index %>">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-<%= index %>" aria-expanded="false" aria-controls="collapse-<%= index %>">
            <%= first_element %>
          </a>
        </h4>
      </div>
      <div id="collapse-<%= index %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-<%= index %>">
        <div class="panel-body cvd-ReportBlock-results">
          <%= render 'report_results_lft', { first_element: first_element } %>
        </div>
      </div>
    </div>
  <% end %>

  <%= paginate @elements_to_paginate %>

</div>
