<% previous_test_id = '' %>
<% previous_error_id = '' %>

<ul>
  <% reports.each_with_index do |report, index| %>
    <li>
      <% if index > 9 %>
        <p class="cvd-ReportBlock-errorId">...<%= reports.count - 10 %> de plus.</p>
        <% break %>
      <% else %>
        <% if @default_view == :lines %>
          <% if previous_test_id != report.test_id %>
            <strong>
              <span class="cvd-ColorBlock-<%= report.status %> glyphicon glyphicon-<%= report.status %>"></span>
              <%= link_to "http://www.chouette.mobi/neptune-validation/v22/fr/#{report.test_id}.html" do %>
                <%= report.test_id %>
              <% end %>
              <% if false %>
                <span class="cvd-ReportBlock-errorInfo">
                  (<%= report.error_count %> <%= t('error_count', default: 'errors') %>)
                </span>
              <% end %>
              -
              <%= t("validation_report.details.#{report.test_id}") %>
            </strong>

            <% previous_test_id = report.test_id %>
          <% end %>
          <% if false && previous_error_id != report.error_id %>
            <p class="cvd-ReportBlock-errorId"><%= previous_error_id = report.error_id %></p>
          <% end %>
          <p class="cvd-ReportBlock-errorId-detail">
            <% if report.line_number.to_i > 0 && report.column_number.to_i > 0 %>
              <%= t('report.file.line') %> <%= report.line_number %>
              <%= t('report.file.column') %> <%= report.column_number %>
            <% end %>
            <%= t("validation_report.details.detail_#{report.error_id}", report.to_h) %>
          </p>
        <% else %>
          <ul>
            <li>
              <% if report.line_number.to_i > 0 && report.column_number.to_i > 0 %>
                <strong>
                  <%= t('report.file.line') %> <%= report.line_number %>
                  <%= t('report.file.column') %> <%= report.column_number %>
                </strong>
                -
              <% end %>
              <%= t("validation_report.details.detail_#{report.error_id}", report.to_h) %>
            </li>
          </ul>
        <% end %>
      <% end %>
    </li>
  <% end %>
</ul>
