<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1><%= t('jobs.index.title') %></h1>
    <% if @jobs.present? %>
      <ul>
        <% @jobs.each do |job| %>
          <li>
            <% if job.scheduled? %><span class="glyphicon glyphicon-refresh"></span><% end %>
            <% url = job.terminated? ? validation_job_path(job) : job_path(job) %>
            <%= link_to job_path(job) do %>
              <%= job.name %>
            <% end %>
            (
            <%= link_to job.short_url do %>
              <%= job.short_url %>
            <% end %>
            )
            <%= link_to destroy_job_path(job), 'data-method': :delete, 'data-confirm':  t('job.destroy.confirm') do %>
              <span class="glyphicon glyphicon-trash"><span><%= t('job.destroy.title') %></span></span>
            <% end %>
          </li>
        <% end %>
      </ul>
      <%= paginate @jobs %>
    <% else %>
      <p><%= t('jobs.no_history') %></p>
    <% end %>
  </div>
</div>
