<div class="row">
  <div class="col-sm-12" data-progress-job="<%= progress_job_path(@job.id, format: :js) %>">
    <h1><%= t('jobs.progress') %></h1>
    <p>
      Nom du fichier/URL en cours de <%= @job.format_convert ? 'conversion' : 'validation' %> : <%= @job.name %> - <%= @job.format %>
    </p>

    <ol>
      <% if @job.url.present? %>
        <li id="cvd-WaitingStatusBlock">
          <%= render 'status' %>
        </li>
      <% end %>
      <li id="cvd-ShortUrlBlock">
        <%= render 'short_url' %>
      </li>
      <% unless @job.scheduled? %>
        <li>
          Le traitement de votre fichier est en file d'attente et commencera après téléchargement de votre fichier dans un peu plus de <%= (Sidekiq::Queue.new.latency + ((ENV['TIMEOUT'].to_i / 1000) * 2 )).round %> secondes.
        </li>
      <% end %>
      <li>
        <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
        <% if @job.convert_job? %>
          Conversion
        <% else %>
          Validation
        <% end %>
        en cours, merci de patienter...
      </li>
    </ol>

    <%= render 'progress_bar' %>

    <div class="text-center">
      <%= link_to t('job.cancel'), cancel_job_path(@job), 'data-method': :delete, 'data-confirm': t('job.destroy.confirm'), class: 'btn btn-warning' %>
    </div>
  </div>
</div>
