<div class="row">
  <div class="col-sm-12" data-progress-job="<%= progress_job_path(@job.id, format: :js) %>">
    <h1>Progress</h1>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, a...
    </p>

    <p>
      Nom du fichier/URL en cours de validation/conversion : <%= @job.name %> - <%= @job.format %>
    </p>
    <p>
      Voici le lien pour obtenir le résultat de la validation/conversion ou son état d'avancement :
      <strong><%= job_url(@job) %></strong>
      <button class="btn-clipboard" data-clipboard-text="<%= job_url(@job) %>">
        <span class="glyphicon glyphicon-copy"></span>
      </button>
    </p>

    <%= render 'progress_bar' %>

    <div class="text-center">
      <%= link_to t('job.cancel'), cancel_job_path(@job), 'data-method': :delete, 'data-confirm': t('job.destroy.confirm'), class: 'btn btn-warning' %>
    </div>
  </div>
</div>
