<div class="row">
  <div class="col-sm-12" data-progress-job="<%= progress_job_path(@job.id, format: :js) %>">
    <h1><%= t('jobs.progress') %></h1>
    <p>
      Nom du fichier/URL en cours de validation/conversion : <%= @job.name %> - <%= @job.format %>
    </p>
    <div id="cvd-ShortUrlBlock">
      <%= render 'short_url' %>
    </div>

    <%= render 'progress_bar' %>

    <div class="text-center">
      <%= link_to t('job.cancel'), cancel_job_path(@job), 'data-method': :delete, 'data-confirm': t('job.destroy.confirm'), class: 'btn btn-warning' %>
    </div>
  </div>
</div>
