<div class="cvd-ReportBlock">
  <div class="row">
    <div class="col-sm-12">
      <h1><%= @job.name %> - <%= @job.format.upcase %></h1>
      <h2><%= t('report.validation_ended_at') %> <%= l(@job.updated_at, format: :long) %></h2>
      <span class="pull-right">
        <img src="" alt="<%= @action_report[:result] == 'ok' ? 'Tampon approuvé' : 'Tampon refusé' %>">
      </span>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <%= render 'report_links' %>
    </div>
  </div>
  <% if @default_view == :lines %>
    <div class="row">
      <div class="col-sm-3">
        <%= render 'report_badges' %>
      </div>
    </div>
  <% end %>
  <div class="row">
    <div class="col-sm-12">
      <%= render 'report_filters' %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <%= render 'report_results' %>
    </div>
  </div>
</div>
