<% content_for :title do %>Formats<% end %>
<div class="row cvd-FormatsBlock">
  <h1>Formats</h1>

  <ul>
    <li>
      <h3>Formats supportés</h3>
      <p>
        Le portail des normes pour les données d'offre du transport collectif
        <span class="glyphicon glyphicon-link"></span>
        <%= link_to 'http://www.chouette.mobi/developpeurs/formats-supportes/', 'http://www.chouette.mobi/developpeurs/formats-supportes/' %>
      </p>
      <ul>
        <li>
          Points de contrôle sur les données<br>
          Les points de contrôle comprennent une série de tests de conformité aux formats Neptune et GTFS,
          utilisés lors de la validation de données (tests 1-xxx et 2-xxx), ainsi qu’une liste  de tests complémentaires
          (quel que soit leur format initial (tests 3-xxx et 4-xxx).<br>
          Ces tests sont décrits
          <span class="glyphicon glyphicon-link"></span>
          <%= link_to 'dans un tableau XL', 'http://www.chouette.mobi/wp-content/uploads/NT-A130306-Definition_des_tests_de_conformite-V2.2-2015-09-21.xls' %>
          et
          <span class="glyphicon glyphicon-link"></span>
          <%= link_to 'au format HTML', 'http://www.chouette.mobi/neptune-validation/v22/fr/' %>
          .
        </li>
        <li>
          Test de conformité Neptune 1 &amp; 2
          <span class="glyphicon glyphicon-link"></span>
          <%= link_to 'http://www.chouette.mobi/neptune-validation/v22/fr/', 'http://www.chouette.mobi/neptune-validation/v22/fr/' %>
        </li>
        <li>
          Test de conformité GTFS
          <span class="glyphicon glyphicon-link"></span>
          <%= link_to 'http://www.chouette.mobi/wp-content/uploads/NT-A130306-Definition_des_tests_de_conformite-V2.2-2015-09-21.xls', 'http://www.chouette.mobi/wp-content/uploads/NT-A130306-Definition_des_tests_de_conformite-V2.2-2015-09-21.xls' %>
        </li>
        <li>
          Test de conformité de données au profil NeTEx pour les arrêts de TC
          <span class="glyphicon glyphicon-link"></span>
          <%= link_to 'http://www.chouette.mobi/wp-content/uploads/Specs_Echange_Netex_v1.0.2.zip', 'http://www.chouette.mobi/wp-content/uploads/Validation_NeTEx_Arr%C3%AAt_2015-v2.3.pdf' %>
        </li>
      </ul>
    </li>
    <li>
      <h3>Normes Données TC</h3>
      <p>
        Le portail des normes pour les données d'offre du transport collectif
        <span class="glyphicon glyphicon-link"></span>
        <%= link_to 'http://www.normes-donnees-tc.org', 'http://www.normes-donnees-tc.org' %>
      </p>
    </li>
  </ul>
</div>
