<hr>
<footer class="cvd-FooterBlock">
  <ul class="cvd-FooterBlock-list">
    <li><%= link_to page_path('about') do %>À propos<% end %></li>
    <li><%= link_to 'http://www.chouette.mobi/club-utilisateurs/contact-support/' do %>Contact<% end %></li>
    <li><%= link_to page_path('formats') do %>Formats<% end %></li>
    <li><%= link_to page_path('legals') do %>Mentions légales<% end %></li>
    <li><%= link_to 'https://github.com/afimb/cvdtc' do %>Code source<% end %></li>
    <li><%= link_to page_path('developers') do %>Développeurs<% end %></li>
    <li><%= link_to page_path('english') do %>English<% end %></li>
    <li><%= link_to parameters_path do %>Jeux de paramètres de validation<% end %></li>
  </ul>
</footer>
