<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="<%= I18n.locale %>"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title><%= "#{yield(:title)} - " if content_for?(:title) %>CVDTC</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <%= render 'navigation_links' %>

    <div class="container">
      <%= render 'messages' %>
      <%= yield %>
    </div>
    <%= render 'footer' %>
  </body>
</html>
